footer{
    background: $primary;
    position: relative;
    display: flex;
    padding: 0 2rem;
    padding-bottom: 4rem;


    
    .icon{
        color: white;
        font-size: 2rem;
    } 
    .logo-section{
        border-bottom: 1px solid white;
        padding: 1rem 0;
    }
}