.header{
    width: 100%;

    .header-contacts{
        width: 100%;
        height: 3rem;
        color: white;
        display: flex;
        padding: 0 1rem;
        align-items: center;
        justify-content: space-between;

        .contacts{
            @media (max-width: 360px) {
                display: none;
            }
        }

        .social-media{
            display: flex;
            gap: 2rem;
            align-items: center;

            
            .logo{
                font-size: 25rem;
            }

            .icons{
                display: flex;
                font-size: 2rem;

                }
            }
        }
    }

    .navbar{
        width: 100%;
        height: 3rem;
        padding: 0;
        display: flex;
        

        @media (max-width: 610px) {
            display: none;
        }

        .menu-icon{
            width: 100%;
            display: none;
            height: 100%;
            margin-right: 2rem;
            justify-content:right;
            align-items: center; 
            
            @media(max-width: 610px){
                display: flex;
            }
        }

        nav{
            width: 100%;
            display: flex;
            height: 100%;
            gap: 1rem;
            justify-content: right;
            align-items: center;
            z-index: 999;
        
            @media(max-width: 610px){
                display: none;
            }
        
        .page-link{
            font-size: 1rem;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 1rem;
            color: #431407;
            
        }
        .page-link:hover{
            background-color: orangered;
            color: white;
        }

       	.dropdown{
                height: 100%;

            

            .dropdown-content{
                display: none;
                position: absolute;
                top: 6rem;
                background-color: white;
                box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
                z-index: 999;

                

                .droper{
                    height: 3rem;
                }
            }
        }
        .dropdown:hover .dropdown-content{
            display: block;
        }

    }
}   
