//variable
$primary: #431407;
$secondary: #fb923c;
$last: #fed7aa;
$white: white;
$dark: black;

//colors
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "last": $last,
    "white": $white,
    "dark": $dark
);
