//variable
$primary: #172554;
$secondary: royalblue;
$last: #bfdbfe;
$white: white;
$dark: black;

//colors
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "last": $last,
    "white": $white,
    "dark": $dark
);
